@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #eceae6;
  padding-block: 15px;
}

#root{
max-width: 768px;
margin-inline: auto;
height: 100%;
background-color: white;
border-radius: 10px ;
}

*{ 
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

p{ 
  font-family: 'Lora', serif;
}


details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}
